*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    text-align: center;
}
#chart_div{
    margin-left: auto;
    margin-right: auto;
}
img{
    height: 250px;
    
}
.header h1{
    display: none;
}